<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj kategorię</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<header class="container mt-3">
    <h1>Dodaj kategorię</h1>
</header>
<section class="container mt-3">
    <form th:action="@{/categories/add}" th:object="${category}" method="post">
        <label for="categoryName">Nazwa kategorii:</label>
        <input type="text" id="categoryName" name="categoryName" th:field="*{categoryName}" class="form-control"
               required>

        <label for="description">Opis:</label>
        <textarea id="description" name="description" th:field="*{description}" class="form-control"></textarea>

        <button type="submit" class="btn btn-success mt-2">Dodaj Kategorię</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</section>
<section class="container mt-3">
    <a th:href="@{/}" class="btn btn-primary mt-2">Powrót</a>
</section>
</html>
