<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły Aukcji</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header class="container mt-3">
    <h1>Szczegóły aukcji</h1>
</header>
<section class="container mt-3">
    <div>
        <div class="row">
            <div class="col-md-6">
                <p class="font-weight-bold">ID:</p>
                <p th:text="${auction.id}"></p>

                <p class="font-weight-bold">Tytuł:</p>
                <p th:text="${auction.title}"></p>

                <p class="font-weight-bold">Opis:</p>
                <p th:text="${auction.description}"></p>

                <p class="font-weight-bold">Sprzedawca:</p>
                <p th:text="${auction.seller?.username}"></p>
            </div>

            <div class="col-md-6">
                <p class="font-weight-bold">Kategoria:</p>
                <p th:text="${auction.category.categoryName}"></p>

                <p class="font-weight-bold">Cena początkowa:</p>
                <p th:text="${auction.startingPrice}"></p>

                <p class="font-weight-bold">Aktualna cena:</p>
                <p th:text="${auction.currentPrice}"></p>

                <p class="font-weight-bold">Czas rozpoczęcia:</p>
                <p th:text="${auction.startTime}"></p>

                <p class="font-weight-bold">Czas zakończenia:</p>
                <p th:text="${auction.endTime}"></p>
            </div>
        </div>
    </div>
</section>
<section class="container mt-3">
    <!-- Dodany link do strony z ofertami -->
    <a th:href="@{'/bids/' + ${auction.id} + '/details/placeBid'}" class="btn btn-primary">Licytuj</a>
    <a th:href="@{/auctions}" class="btn btn-warning">Powrót</a>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
