<!-- auctions.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Auctions</title>
    <!-- Dodaj link do arkusza stylów Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header class="container mt-3">
    <h1>List of Auctions</h1>
</header>
<section class="container mt-3">
    <!-- Wyświetl listę aukcji -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Auction ID</th>
            <th scope="col">Title</th>
            <th scope="col">Seller</th>
            <th scope="col">Category</th>
            <th scope="col">Starting Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iteruj przez aukcje i wyświetl informacje -->
        <tr th:each="auction : ${auctions}">
            <td th:text="${auction.id}"></td>
            <td th:text="${auction.title}"></td>
            <td th:text="${auction.seller?.username}"></td>
            <td th:text="${auction.category.categoryName}"></td>
            <td th:text="${auction.startingPrice}"></td>
            <td th:text="${auction.currentPrice}"></td>
            <td th:text="${auction.startTime}"></td>
            <td th:text="${auction.endTime}"></td>
            <td>
                <!-- Dodaj linki do szczegółów, edycji i usunięcia aukcji -->
                <a th:href="@{/auctions/{auctionId}(auctionId=${auction.id})}" class="btn btn-info btn-sm">Details</a>
                <a th:href="@{/auctions/{auctionId}/edit(auctionId=${auction.id})} "
                   class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/auctions/{auctionId}/delete(auctionId=${auction.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this auction?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section class="container mt-3">
    <!-- Dodaj link do formularza tworzenia nowej aukcji -->
    <a th:href="@{/auctions/create}" class="btn btn-success">Create New Auction</a>

    <!-- Dodaj przycisk "Powrót" do strony głównej -->
    <a th:href="${homeRedirectUrl}" class="btn btn-primary">Powrót</a>
</section>
</body>
</html>
