<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Szczegóły Oferty</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">
<h2>Szczegóły Oferty</h2>
<p>ID: <span th:text="${bid.id}"></span></p>
<p>Licytujący: <span th:text="${bid.bidder.username}"></span></p>
<p>Kwota Oferty: <span th:text="${bid.bidAmount}"></span></p>
<p>Czas Oferty: <span th:text="${bid.bidTime}"></span></p>

<form method="post" th:action="@{'/bids/' + bid.auction.id + '/details/placeBid'}">
  <div class="form-group">
    <label for="newBidAmount">Nowa Kwota Oferty:</label>
    <input type="number" step="0.01" min="${bid.bidAmount + 0.01}" id="newBidAmount" name="newBidAmount" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Złóż Ofertę</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
