<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oferty Aukcji</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">
<h2>Oferty dla Aukcji: <span th:text="${auction.title}"></span></h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Licytujący</th>
    <th>Kwota Oferty</th>
    <th>Czas Oferty</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bid : ${bids}">
    <td th:text="${bid.id}"></td>
    <td th:text="${bid.bidder.username}"></td>
    <td th:text="${bid.bidAmount}"></td>
    <td th:text="${bid.bidTime}"></td>
  </tr>
  </tbody>
</table>

<!-- Przycisk powrotu do placeBidForm.html danej licytacji -->
<a th:href="@{'/bids/' + ${auction.id} + '/details/placeBid'}" class="btn btn-secondary">Powrót</a>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
