<!-- search.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki wyszukiwania</title>
    <!-- Dodaj link do arkusza stylów Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header class="container mt-3">
    <h1>Wyniki wyszukiwania</h1>
</header>
<section class="container mt-3">
    <!-- Dodaj wyniki wyszukiwania, np. listę aukcji spełniających kryteria -->
</section>
<footer class="container mt-3">
    <p>&copy; 2024 Aukcyjny System</p>
</footer>

<!-- Dodaj skrypty Bootstrap i inne skrypty według potrzeb -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>